@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;600;700;800;900&family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --bg-dark: #000000;
    --text-primary: #FFFFFF;
    --brand-yellow: #eaff00;
    --glass-bg: rgba(255, 255, 255, 0.05);
    --glass-border: rgba(255, 255, 255, 0.1);
}

@theme {
    --font-sans: 'Outfit', sans-serif;
    --font-display: 'Space Grotesk', sans-serif;
    --color-brand-yellow: #aaff00;

    --animate-marquee: marquee 50s linear infinite;

    @keyframes marquee {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-33.333%);
        }
    }
}


body {
    font-family: var(--font-sans);
    background-color: var(--bg-dark);
    color: var(--text-primary);
    margin: 0;
    overflow-x: hidden;
}

.hero-text-shadow {
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.glass-card {
    background: var(--glass-bg);
    backdrop-filter: blur(10px);
    border: 1px solid var(--glass-border);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}